#page-title {
	display: block;
	text-align: center;
	font-size: 2rem;
	margin-top: 10px;
}
.form-container {
	width: 400px;
	margin: auto;
}

.ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
	margin: 0px;
}
.ui.button > .icon:not(.button) {
	margin: 0px;
}
